.forecast{
  background-color: rgba(3, 35, 71, 0.22);
  padding: 10px 0px 10px 0px;
}
.cont_title_prev{
  display: flex;
  justify-content: center;

}
.title_prev{
  color:white;
  background-color: rgba(3, 35, 71, 0.22);
  padding: 5px 0px 5px 0px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: -10px;
}
.separator-day{
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 300;

}
.forecast-day{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  gap: 10px;
  height: 7.5em;
  border-radius: 10em;
  width: auto;
  padding: 10px;
  background: rgb(67, 90, 167);
    background: radial-gradient(circle, rgb(59, 91, 155) 0%, rgba(99, 120, 196, 1) 54%, rgba(57, 116, 187, 1) 100%);
    background-size: 300% 300%;
      animation: gradient-animation 25s ease infinite;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.293);

}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.data_div_forecast{
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 100px;
  padding: 10px 25px 10px 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.235);

}
.data_forecast{
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  font-size: 12px;
  text-align: center;
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 00;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.forecast-day > div > div > p{
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.837);
}
 .title_morning{
  color: white;
  font-size: 14px;
}
.title_afternoon {
  color: white;
  font-size: 14px;
}
.title_night {
  color: white;
  font-size: 14px;
}
.Morning_forecast {
  text-align: center;

}
.Afternoon_forecast{
  text-align: center;
}
.Night_forecast{
  text-align: center;
  margin-right: 15px;
}
.temp_forecast_max{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(202, 202, 202, 0.451);
  padding: 2.5px 10px 2.5px 2.5px;
  border-radius: 20px;
  margin: 10px 0px 5px 0;

}
.temp_forecast_min{
  display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(202, 202, 202, 0.451);
    padding: 2.5px 10px 2.5px 2.5px;
    border-radius: 20px;
    margin: 10px 0px 5px 0;
}
.icone_temp{
  width: 16px;
  margin: 0;
  padding: 0;
}
