@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
}
.formulario.searched {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10vh;
  z-index: 1;
}

body {
  user-select: none;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #1e1933;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.searchWr {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.searchWr.searched {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #1e1933;
  background-size: 300% 300%;
  animation: gradient-animation 25s ease infinite;
  overflow-x: hidden;
}

.Search {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Search.searched {
  margin-top: 20px;
  margin-bottom: 0;
  flex-direction: column-reverse;
}
.input_Pesquisar {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 14px;

  margin-top: 10px;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px rgba(253, 253, 253, 0.05) solid;
  background-color: #3c325039;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.303);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff68;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.input_Pesquisar:hover {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.05);
  color: #ffffff90;
}

.title_master {
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.467);
  text-align: center;
}

.title_master.searched {
  color: #ffffff42;
  font-size: 3vh;
  background-color: #00000015;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.05);
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
  width: 50%;
}

.title_master.searched:hover {
  background-color: #00000030;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.112);
}

.inputCidade.searched {
  text-align: center;
  cursor: pointer;
}

.inputCidade {
  width: 75vw;
  padding: 20px;
  border-radius: 100px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.303);
  background-color: #3c325039;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

  outline: none;
  transition: 0.5s ease-in-out;
  color: white;
  cursor: pointer;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.rodape_input {
  width: 50vw;

  background-color: rgba(63, 54, 79, 0.341);
  padding: 10px;
  height: auto;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}
.rodape_input_den {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: rgba(255, 255, 255, 0.714);
}
.rodape_found {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.p_found {
  margin: 0;
  padding: 0;
}
.cidades_pesq {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(63, 54, 79, 0.341);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.375);
  padding: 10px;
  border-radius: 100px;
  width: 90%;
  transition: 0.5s ease;
  cursor: pointer;
}
.cidades_pesq:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.468);
  background-color: rgba(63, 54, 79, 0.588);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputCidade::placeholder {
  color: #ffffff34;
  transition: 0.3s ease-in-out;
}
.inputCidade:hover::placeholder {
  color: rgba(255, 255, 255, 0.404);
}

.inputCidade:hover {
  background-color: #2e2f5294;
  box-shadow: 0 0 5px rrgba(0, 0, 0, 0.243);
}

.inputCidade.searched::placeholder {
  color: #ffffff12;
  transition: color 0.3s ease;
}

.inputCidade.searched:hover::placeholder {
  color: #ffffffa3;
  /* Nova cor ao passar o mouse */
}

.alert_fuso {
  color: rgba(255, 255, 255, 0.42);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.292);
  font-size: 60%;
  font-weight: bold;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert_fuso.searched {
  display: none;
}

#inputPesquisar {
  width: 25%;
  align-self: center;
  margin-top: 10px;
}

.objects {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}
.lua_sol {
  width: auto;
  margin-bottom: 10px;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.align-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: baseline;
  width: auto;
  z-index: 1;
}

.align-text-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf30;
  padding: 20px;
  border-radius: 5px;
}
.icon_set {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.589);
  border-radius: 100px;
}
.complementos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.div_parag {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: #dfdfdf30;

  padding: 10px;
  width: 95%;

  border-radius: 10px;
  margin-bottom: 20px;
  z-index: 1;
}
.div_parag_filho {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  align-self: center;
  justify-content: center;
  background-color: #dfdfdf30;

  padding: 10px;
  width: 95%;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.531);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.589);
  font-weight: bold;
  border-radius: 10px;
}
.text_div_parag {
  font-size: 25px;
  color: #ffffff9d;
}
.div_parag > div > p {
  margin-top: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 5px;
  background-color: #ffffff29;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0);
  flex-direction: row;
  padding: 20px;
  text-align: justify;
}

.icones {
  width: 3em;
}

@keyframes zoomAnimation {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    /* Ajuste o fator de escala conforme necessário */
  }
}

.zoom-animate {
  animation: zoomAnimation 5s ease-in-out infinite;
  /* Ajuste a duração e os detalhes conforme necessário */
}

.Title_Icon {
  font-size: 200%;
}

.icon_temp {
  width: auto;
}
.icon_temp_filho {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  /* z-index: 1; */
}
.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dfdfdf30;
  text-align: center;
  padding: 1vh;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.422);
  margin: 10px 0 10px 10px;
  transition: 0.5s ease-in-out;
  cursor: help;
}

.icon-wrapper:hover {
  background-color: #dfdfdf40;
}

.icon-wrapper > img {
  padding: 5px;
  background-color: #e9f2f9cc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.517);
  border-radius: 100%;
}

.icon-wrapper > div > p {
  padding: 1vh;
  margin: auto;
  font-size: 80%;
  color: #e9f2f9cc;
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 0 0 0 0;
}

.far_cel_button {
  width: 100px;
  z-index: 2;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #dfdfdf30;
  box-shadow: 2px 1px 10px -1px rgba(0, 0, 0, 0.31);
  margin: 10px;
  margin-left: -10px;
  padding: 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  position: fixed;
  right: 0;
  bottom: 0;
}

.far_cel_button:hover {
  background-color: #dfdfdf40;
}

.far_cel_button > img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
.modal_regiao {
  z-index: 2001;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #333333;
  border: 3px rgba(0, 0, 0, 0.277) solid;
  border-radius: 10px;
  position: fixed;

  top: 10px;
  margin: auto;
  left: 0;
  right: 0;
  width: 70vw;
  height: auto;

  font-family: "Arial Narrow", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 5px rgb(0, 0, 0);
  font-size: 25px;
}
.close_regiao {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -2px;
  margin-left: 5px;
}
.title_regiao {
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: rgba(240, 248, 255, 0.208);
  border-radius: 7px 7px 0px 0px;
}
.foto_regiao {
  width: 10vw;
  height: auto;
  border-radius: 10px;
}
.text_regiao {
  text-align: center;
  width: 85%;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(240, 248, 255, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.307);
  margin: 5px 0px 10px 0px;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}
.text_regiao:hover {
  background-color: rgba(240, 248, 255, 0.159);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.438);
}
.era_essa {
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.366);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10vw;
  padding: 5px;
}
.loading-spinner {
  position: absolute;
  height: 100px;
  color: #ffffff; /* Set text color */

  background-color: #000000be;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  z-index: 2001;
}
.loading_text {
  font-size: 18px;
  position: absolute;
  top: 20%;
  font-family: "Archivo Black", sans-serif;
}
.loader {
  position: absolute;
  top: 23%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation {
  opacity: 100%;

  display: flex;
  justify-content: center;
  background-color: #017dcf;
  align-items: center;
  padding-top: 10px;
  margin-top: 100px;
  width: 50%;
  overflow: hidden;
}
.noite {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #18002bb3,
    #18002bb3 50%,
    transparent 100%
  );
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.manha {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(63, 166, 251, 0.612),
    rgba(63, 166, 251, 0.422) 50%,
    rgba(63, 166, 251, 0.24) 75%,
    transparent 100%
  );
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40vh;
}

.sun {
  position: relative;
  z-index: 1;
  margin-top: -150px;
  background-color: #ffd700;
  box-shadow: 0 0 30px #ffd700;
  /* cor do sol - amarelo */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotateSun 5s linear infinite;
}
.moon {
  z-index: 1;
  position: relative;
  margin-top: -150px;
  display: flex;
  background-color: #f0f0f0;
  box-shadow: 0 0 20px #f0f0f0;
  /* cor da lua - cinza claro */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* Adicione outras propriedades de estilo para ajustar a aparência da lua conforme necessário */
}

.stars {
  z-index: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(241, 251, 126);
  box-shadow: 0 0 10px yellow;
  position: absolute;

  border-radius: 100px;
  animation: shineStars 10s linear infinite;
}

.moon::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.401);
  /* Cor das pintinhas */
  border-radius: 50%;
  /* Forma circular */
  top: 40%;
  left: 40%;
}

.moon::after {
  content: "";
  position: absolute;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.401);
  width: 8px;
  height: 8px;
  background-color: #ccc;
  /* Cor das pintinhas */
  border-radius: 50%;
  /* Forma circular */
  top: 70%;
  left: 70%;
}

.cloud {
  position: absolute;
  background-color: #ffffff;
  /* cor das nuvens - branco */
  width: 100px;
  height: 30px;
  border-radius: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation: moveCloud 40s linear infinite;
  z-index: 2;
}
.div_clouds_mais {
  position: absolute;
  background-color: #ffffff;
  /* cor das nuvens - branco */
  width: 100px;
  height: 30px;
  border-radius: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.528);
  animation: moveCloudMais 30s linear infinite;
}
/* .wind{
                                  width: 2px;
                                  height: 10px;
                                  background-color: #fff;
                                  animation: rainAnimation linear infinite;
                                  animation-duration: 8s;

                                  position: relative;
                                } */
.div_avo {
  position: absolute;
  width: auto;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation: weather 40s linear infinite;
  z-index: 2;
}
.div_pai {
  background-color: #767676;
  box-shadow: 0 0 5px rgb(100, 100, 100);
  bottom: #ffffff;
  width: 100px;
  height: 30px;
  border-radius: 150px;
  position: relative;
}

.div_filho {
  width: 2px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 100px;
  position: relative;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation: moveWind 0.1s linear infinite;
}

.inputEstado {
  width: 80%;
  height: 5vh;
  border-radius: 0px 0px 20px 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.303);
  background-color: #3c325077;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  outline: none;
  transition: 0.5s ease-in-out;
  color: white;

  cursor: pointer;
  transition: 0.5s ease;
  animation: animationInputsOpenEs 1s ease;
  visibility: visible;
}
.inputEstado:hover {
  background-color: #2e2f5294;
}
.inputEstado::placeholder {
  text-align: center;
  transition: 0.3s ease-in-out;
}

.inputEstado:hover::placeholder {
  color: rgba(255, 255, 255, 0.404);
}
.inputEstado.hidden {
  visibility: hidden;
  height: 0;
}
.inputEstado.closed {
  animation: animationInputsCloseEs 1s ease;
}
@keyframes animationInputsClosedEs {
  0% {
    height: 5vh;
  }
  100% {
    height: 0vh;
  }
}
@keyframes animationInputsOpenEs {
  0% {
    height: 0vh;
  }
  100% {
    height: 5vh;
  }
}
.inputPais {
  width: 90%;
  height: 5vh;
  border-radius: 0px 0px 100px 100px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.303);
  background-color: #3c325077;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  outline: none;
  transition: 0.5s ease-in-out;
  color: white;

  cursor: pointer;
  transition: 0.5s ease;
  animation: animationInputsOpen 1s ease;
  visibility: visible;
}
.inputPais.hidden {
  visibility: hidden;
  height: 0;
}
.inputPais.closed {
  animation: animationInputsClose 1s ease;
}
.inputPais:hover {
  background-color: #2e2f5294;
}
.inputPais::placeholder {
  text-align: center;
  transition: 0.3s ease-in-out;
}

.inputPais:hover::placeholder {
  color: rgba(255, 255, 255, 0.404);
}
@keyframes animationInputsClosed {
  0% {
    height: 5vh;
  }
  100% {
    height: 0vh;
  }
}
@keyframes animationInputsOpen {
  0% {
    height: 0vh;
  }
  100% {
    height: 5vh;
  }
}

@keyframes shineStars {
  0% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.249);
  }
  25% {
    box-shadow: 0 0 7px 7px rgba(255, 255, 0, 0.249);
  }
  50% {
    box-shadow: 0 0 10px 10px rgba(255, 255, 0, 0.407);
  }
  75% {
    box-shadow: 0 0 7px 7px rgba(255, 255, 0, 0.249);
  }
  100% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 0, 0.249);
  }
}
@keyframes moveWind {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(1000%);
  }
}

@keyframes rainAnimation {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(300px);
  }
}
@keyframes rotateSun {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveCloud {
  0% {
    transform: translateX(-600vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
@keyframes moveCloudMais {
  0% {
    transform: translateX(-200vw);
  }

  100% {
    transform: translateX(110vw);
  }
}
@keyframes weather {
  0% {
    transform: translateX(-600vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
@media screen and (max-width: 1225px) {
  .inputCidade.searched {
    width: 95vw;
  }
}
@media screen and (max-width: 1100px) {
  .inputEstado {
    border-radius: 0px 0px 100px 100px;
    width: 75%;
  }
  .inputPais {
    border-radius: 0px 0px 100px 100px;
  }
  .rodape_input {
    width: 60%;
  }
}
@media screen and (max-width: 1050px) {
  .icon-wrapper {
    width: auto;
  }
  .div_parag {
    width: 95%;
    font-size: 2vw;
  }

  .div_parag > div > p {
    width: 100%;
    font-size: 2vw;
  }
}
@media screen and (max-width: 986px) {
  .icon-wrapper.icon2 {
    margin-left: 10px;
  }
  .div_parag {
    width: 95%;
    font-size: 3vw;
  }
  .div_parag > div > p {
    width: 100%;
    font-size: 3vw;
  }
  .div_wind {
    width: 100%;
  }
  .text_div_parag {
    font-size: 3vw;
    color: #ffffff9d;
  }
}
@media screen and (max-width: 740px) {
  .inputEstado {
    width: 70%;
  }
  .rodape_input {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .icon-wrapper.icon2 {
    margin-left: 0px;
  }
  .inputCidade.searched {
    width: 85vw;
  }
  .formulario.searched {
    background-color: #ffffff29;
    padding: 2em;
    border-radius: 10px;
    width: 90vw;
  }
  .title_master.searched {
    background-color: #ffffff29;
    color: rgba(255, 255, 255, 0.479);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.144);
    font-weight: bold;
  }
  .icon_temp_filho {
    flex-direction: column;
  }
  .prox_div {
    background-color: #ffffff29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: auto;
    border-radius: 10px;
  }
  .align-items {
    align-self: center;
  }
  .inputCidade.searched {
    background-color: #ffffff29;
  }
  .inputCidade.searched {
    width: 80vw;
  }
  .inputCidade.searched::placeholder {
    color: rgba(0, 0, 0, 0.267);
  }
}
@media screen and (max-width: 550px) {
  .inputCidade {
    width: 90vw;
  }
  .inputEstado {
    border-radius: 0px 0px 50px 50px;
    width: 80%;
  }
  .inputPais {
    width: 80%;
    border-radius: 0px;
  }
  .rodape_input {
    width: 60%;
  }
  .rodape_found {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .svg_not_found {
    width: 50px;
    height: auto;
  }
  .cidades_pesq > p {
    font-size: 3vw;
  }
  .prox_div {
    margin: 0px 10px;
  }
  .formulario.searched {
    margin: 0px 10px;
    padding: 1.5em;
  }
}
@media screen and (max-width: 450px) {
  .far_cel_button {
    width: 0px;
    height: 0px;
    padding: 40px;
  }
  .cidades_pesq {
    width: 109%;
    border-radius: 0;
  }
  @keyframes moveCloudMais {
    0% {
      transform: translateX(-400vw);
    }

    100% {
      transform: translateX(110vw);
    }
  }
  @keyframes weather {
    0% {
      transform: translateX(-800vw);
    }

    100% {
      transform: translateX(110vw);
    }
  }
  .foto_regiao {
    width: 20vw;
  }
  .inputCidade::placeholder {
    text-align: center;
    font-size: 3.5vw;
  }
  .text_div_parag {
    font-size: 4vw;
    color: #ffffff9d;
  }
  .div_parag > div > p {
    width: 100%;
    font-size: 4vw;
  }

  .div_wind {
    width: 100%;
  }

  .text_div_parag {
    font-size: 4vw;
    color: #ffffff9d;
  }
}
.casca-error {
  background-color: #0000005e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.alert_error {
  margin: 10px;
  position: absolute;
  background-color: #333333;
  color: white;
  margin-bottom: 15px;
  z-index: 2001;
  width: auto;
  border-radius: 5px;
}
.title_error {
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.295);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.svg_error {
  width: 50px;
  height: auto;
}
.parag_error {
  padding: 40px;
}
.closebtn {
  position: absolute;
  left: 0;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
@media screen and (max-width: 400px) {
  .svg_not_found {
    width: 70px;
    height: auto;
  }
  .formulario {
    margin-top: 42vh;
  }
  .title_master.searched {
    font-size: 7vw;
  }

  .icon-wrapper {
    margin: 0;
    width: 90%;
    font-size: 5vw;
  }

  .icon_temp {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .align-items {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  .div_parag > div > p {
    font-size: 5vw;
  }
  .div_wind {
    width: 100%;
    font-size: 5vw;
  }
  @media screen and (max-width: 310px) {
    .title_error {
      justify-content: flex-start;
    }
    .closebtn {
      position: relative;
    }
    .cidades_pesq > p {
      font-size: 3.5vw;
    }
    .formulario {
      margin-top: 47vh;
    }
  }
}
@media screen and (max-width: 300px) {
  .loading_text {
    font-size: 14px;
  }
}
