@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
form{
  display: flex;
  flex-direction: column;
}

.Search{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b325f;
  padding: 10px;
}
#titulo-header{
  margin-bottom: 10px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.467);
  text-align: center;
}
.inputCidade{
  width: 75vw;
  padding: 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.303);
}
#inputPesquisar{
  width: 25%;
  align-self: center;
  margin-top: 10PX;
}
.objects{
  background: linear-gradient(38deg, #904ec0, #5095be, #3b7ba1, #275d7e, #53a1d0);
    background-size: 300% 300%;
    animation: gradient-animation 25s ease infinite;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.align-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: baseline;
  gap: 2rem;
  width: 100%;
}

.align-text-icon {
  display: flex;
  gap: 0.5rem;
}

.searchWr {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.alert_fuso{
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.292);
  font-size: 75%;
  font-weight: bold;
  padding-top: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

\\ CONF FUNDO \\
.objects.nuvensquebradas_noite{
  background-image: url('./videos/nuvensquebradas_noite.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.objects.nuvendispersas_noite{
  background-image: url('./videos/nuvensdispersas_noite_1_.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.complementos{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
 .objects > p{
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #3a89c9;

  padding: 20px;
  width: 90%;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.531);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.589);
  font-weight: bold;
}
.dados_ind{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff00;
  padding: 0px;
  color: rgba(222, 12, 12, 0.829);
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.275);
}
.div_parag{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-self: center;
  justify-content: center;
  background-color: #3a89c9;

  padding: 10px;
  width: 100%;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.531);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.589);
  font-weight: bold;

  margin-bottom: 20px;
}
.div_parag > p{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 5px;
  background-color: #9cc4e4;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0);

  padding: 20px;
  margin: 0px 0px 0px 0px;
  width: auto;
  text-align: center;
}
.icones{
  width: 3em;
}

@keyframes zoomAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Ajuste o fator de escala conforme necessário */
  }
}

.zoom-animate {
  animation: zoomAnimation 5s ease-in-out infinite; /* Ajuste a duração e os detalhes conforme necessário */
}
.Title_Icon{
  font-size: 200%;
}
.icon_temp{
display: flex;
align-items: flex-start;
flex-direction: row;

}

.icon-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f26c4f;
  text-align: center;
  padding: 10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.422);
  margin: 10px 0 0 10px;
}
.icon-wrapper > img{
  padding: 5px;
  background-color: #e9f2f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.517);
  border-radius: 100%;
}
.icon-wrapper > div > p{
  padding: 10px;
  margin: auto;
  font-size: 80%;
  color: black;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.539);
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 0 0 0 0;
  color: font-family;
}

.itens_prim{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
  background-color: #3a89c9;
  margin: 20px 0px 20px 0px;
}
.itens_prim > p{
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(0, 0, 0);
  background-color: #9cc4e4;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif, monospace;

}
.far_cel_button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  color: white;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.543);
  background: linear-gradient(145deg, #c4e2fa, #9cc4e4);
  box-shadow: 2px 1px 10px -1px rgba(0, 0, 0, 0.31);
  margin: 10px 10px 0 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.icon_set{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.236);
  border-radius: 100%;
}

@media screen and (max-width: 1022px){
  .icon-wrapper{
    width: auto;
  }
}
